* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #ff8d4f;
    scroll-behavior: smooth;
}

nav {
    text-align: center;
    background-color: #049994;
    box-sizing: border-box;
    margin-top: 0px;
    position: fixed;
    width: 100vw;
    height: 80px;
}
.dropNav {
    display: none;
}

.height {
    height: 80px;
}

.content {
    font-family: Verdana;
    color: #000000;
    background-color: #ffffff;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 3em;
    padding: 0.2em;
}

.artistDiv {
    font-weight: bold;
}


@media screen and (max-width: 1000px) {

    a.navBut {
        display: none;
    }

    a.siteTitle {
        display: none;
    }

    .dropNav {
        display: flex;
        position: fixed;
        background-color: #049994;
        border: #000000 2px solid;
    }

    .hiddenOnes {
        position: relative;
        display: none;
        background-color: #049994;
    }
    
    #hid {
        border: #000000 2px solid;
    }

    #hid>div {
        border: #000000 2px solid;
    }

}
